<mat-nav-list>
    <a mat-list-item routerLink="signup" (click)="close()" *ngIf="!isAuth">
      <mat-icon>face</mat-icon>
      <span class="nav-caption"> Signup</span>
    </a>
    <a mat-list-item routerLink="login" (click)="close()" *ngIf="!isAuth">
      <mat-icon>input</mat-icon>
      <span class="nav-caption"> Login</span>
    </a>
    <a mat-list-item routerLink="training" (click)="close()" *ngIf="isAuth">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption"> training</span>
    </a>
    <mat-list-item (click)="onLogout()"*ngIf="isAuth">
      <button mat-icon-butto>
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
  </mat-nav-list>